
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Screen3_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* video_4*/
.Screen3_video_4 {
	margin: 4px 4px 4px 4px;
	width: 284px; height: 208px;
}
/* mobilefooter */
.Screen3_mobilefooter {
	min-height:38px;
}